<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="camera_macro">
	<!-- 摄像头传感器宏定义 -->
	<!-- 参数: name(传感器名称), parent(父链接), xyz(安装位置) -->
	<xacro:macro name="camera" params="name parent xyz">
		<!-- 摄像头参数 -->
		<xacro:property name="camera_mass" value="0.15"/>  <!-- 摄像头质量(千克) -->
		<xacro:property name="camera_x" value="0.06"/>    <!-- 摄像头X尺寸(米) -->
		<xacro:property name="camera_y" value="0.03"/>    <!-- 摄像头Y尺寸(米) -->
		<xacro:property name="camera_z" value="0.03"/>     <!-- 摄像头Z尺寸(米) -->

		<link name="${name}_link">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<box size="${camera_x} ${camera_y} ${camera_z}"/>
				</geometry>
				<material name="silver">
					<color rgba="0.75 0.75 0.78 1.0"/>
				</material>
			</visual>

			<collision>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<box size="${camera_x} ${camera_y} ${camera_z}"/>
				</geometry>
			</collision>

			<inertial>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<mass value="${camera_mass}"/>
				<inertia ixx="1.5e-4" ixy="0.0" ixz="0.0" iyy="1.5e-4" iyz="0.0" izz="1.5e-4"/>
			</inertial>
		</link>

		<joint name="${name}_joint" type="fixed">
			<parent link="${parent}"/>
			<child link="${name}_link"/>
			<origin xyz="${xyz}" rpy="0 0 0"/>
		</joint>
	</xacro:macro>
</robot>
